# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\JUAN CAMILO\Documents\Universidad\CVDS\LAB\LAB06\CVDS-LAB06\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
